In [2]:
L=[100,50,193,443,256,53,1000]
L1=[100,50,256,1000]
L2=[193,443,53]
print("Even:",L1)
print("Odd:",L2)

Even: [100, 50, 256, 1000]
Odd: [193, 443, 53]

In [ ]:
L =[100,50,193,443,256,53,1000]

In [3]:
L1 = []
L2 =[]
for x in L:
    if x%2 ==0:
        L1.append(x)
    else:
        L2.append(x)

In [4]:
L1

[100, 50, 256, 1000]

In [5]:
L2

[193, 443, 53]

In [11]:
L=["A",100,"B",20.5,True,6+8j]

In [3]:
L=["A",100,"B",20.5,True,6+8j]
L1=[]
L2=[]
L3=[]
L4=[]
for x in L:
    if type(x) == int:
        L1.append(x)
    elif type(x) == float:
        L1.append(x)
    elif type(x) == bool:
        L2.append(x)
    elif type(x) == str:
        L3.append(x)
    else:
        L4.append(x)
        print(L1)
        print(L2)
        print(L3)
        print(L4)

[100, 20.5]
[True]
['A', 'B']
[(6+8j)]

In [ ]:
my_list = [1, "hello",3.14,[4,5]]

In [2]:
my_list = [10,20,30,40,50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [3]:
my_list = [10,20,30,40]
for item in my_list:
    print(3*item)

30
60
90
120

In [8]:
for x in range(len(my_list)):
    print(3* my_list[x])

30
60
90
120

In [9]:
nested_list = [[1,2],[3,4],[5,6]]
nested_list

[[1, 2], [3, 4], [5, 6]]

In [10]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
#Initial list of orders: [item_name, quantity]
orders=[["apple",10],["banana",5],["cherry",7],["banana",5]]
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5]]

In [12]:
#add a new order with append
new_order1 = ["date",12]
orders.append(new_order1)
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5], ['date', 12]]

In [14]:
#add multiple orders at a time
new_orders = [["grape",9],["apple",20]]
orders.extend(new_orders)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['banana', 5],
 ['date', 12],
 ['grape', 9],
 ['apple', 20],
 ['grape', 9],
 ['apple', 20]]

In [15]:
#add(insert) an order at an index position 3
new_order2 = ["dragon",10]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dragon', 10],
 ['banana', 5],
 ['date', 12],
 ['grape', 9],
 ['apple', 20],
 ['grape', 9],
 ['apple', 20]]

In [16]:
#remove a duplicate order
duplicate_order =["banana",5]
orders.pop(4)

['banana', 5]

In [17]:
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dragon', 10],
 ['date', 12],
 ['grape', 9],
 ['apple', 20],
 ['grape', 9],
 ['apple', 20]]

In [4]:
#orders list
orders =[['apple',10],['banana',5],['cherry',7],['dragon',10],['grape',9],['apple',20]]
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dragon', 10],
 ['grape', 9],
 ['apple', 20]]

In [7]:
#update the quatity of an item ("cherry" to 10)
orders =[['apple',10],['banana',5],['cherry',7],['dragon',10],['grape',9],['apple',20]]
for each in orders:
    if each[0] == "cherry":
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9], ['apple', 20]]

In [14]:
apple_orders=[]
for each in orders:
    if each[0] == "apple":
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10, 20]
30

In [15]:
cherry_orders=[]
for each in orders:
    if each[0] == "cherry":
        cherry_orders.append(each[1])
print(cherry_orders)
print(sum(cherry_orders))

[10]
10

In [16]:
Tup1=(3,4,9,10)
print(Tup1)
print (type(Tup1))

(3, 4, 9, 10)
<class 'tuple'>

In [18]:
Tup2=(10,20,30,'Hi')
print(Tup2)
print (type(Tup2))

(10, 20, 30, 'Hi')
<class 'tuple'>

In [19]:
Tup4=([3,4,5],[1,3,6],"Hello",10.5)
print(Tup4)

([3, 4, 5], [1, 3, 6], 'Hello', 10.5)

In [20]:
Tup4[1][1] = 100
Tup4

([3, 4, 5], [1, 100, 6], 'Hello', 10.5)

In [21]:
Tup4[0][2] = 10
Tup4

([3, 4, 10], [1, 100, 6], 'Hello', 10.5)

In [23]:
#use index() method to find the index value
Tup4.index('Hello')

2

In [1]:
#create dictionaryu usin g curly bracces{}
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [2]:
#create dictionary with dict() constructor
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [3]:
#create dictionary with a list of tuples
d3 = dict([("x", 1), ("y", 2), ("Z", 3)])
print(d3)

{'x': 1, 'y': 2, 'Z': 3}

In [4]:
#print keys, value and key:value pairs
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [5]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
scores = {'Virat': 90,'Rohit': 100,'Rahul': 70,'Hardik': 9,'Gill': 20,'Jadeja': 30,'Siraz': 15}
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15}

In [8]:
scores["Aswin"] = 15
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 15}

In [9]:
scores.update({"Jadeja":50})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15}

In [12]:
scores.update({"Hardik":65, "Rahane":45})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 45}

In [13]:
scores.setdefault("Rahul",60)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 45}

In [14]:
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 45,
 'Pujara': 50}

In [15]:
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 45}

In [16]:
scores.pop("Gill")
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 45}

In [17]:
scores.get("Siraz")

15

In [21]:
#use of fromkeys() to create a new dict
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1,20)
my_dict

{'A': 20, 'B': 20, 'C': 20, 'D': 20}

In [22]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': 20, 'D': 20}

In [23]:
my_dict.update({"C":30,"D":40})
my_dict

{'A': 10, 'B': 20, 'C': 30, 'D': 40}