In [1]:
#conventional way of if else
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [4]:
#short way of printing if else
print("even")if num%2==0 else print("odd")

even

In [5]:
#one line if else
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [6]:
age = 18
category = "Adult" if age >= 18 else "Minor"
print(category)

Adult

In [7]:
#nested if else in one line
num = 0
result = "Positive" if num > 0 else "Negative" if num < 0 else "Zero"
print(result)

Zero

In [14]:
num = 2
if num > 0:
    print("Positive")
else:
    print("Negative")
if num < 0:
        print("Zero")

Positive

In [15]:
#list comperhension
L =[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [17]:
#print even numbers
[x for x in L if x%2 == 0]

[2, 10, 56]

In [18]:
#print odd numbers
[x for x in L if x%2 != 0]

[1, 9, 89]

In [19]:
# dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65], 'Perm': [76,98,91,87]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65], 'Perm': [76, 98, 91, 87]}

In [20]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5, 'Perm': 88.0}

In [21]:
#user defined function:
#it is modular in nature
#it is resuable code
#Syntax: def function_name(argument):
#it return some value
#return(value)

In [22]:
#write a user defined function to compute average 
#define function(resuable)
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [23]:
#call the function
L = {1,2,3,4,5,6,7,8,9,10}
mean_value(L)

5.5

In [31]:
def greet(name):
    return f"Good Morning {name}"
given = {"Deepika"}
for name in given:
    print(greet(name))

Good Morning Deepika

In [1]:
#Function with Variable number of arguments
def avg_value(*n):
    l = len(n)
    average = sum(n)/1
    return average

In [5]:
avg_value(10,20,60,100,900,1000)

2090.0

In [6]:
#Lambda Functions
#they are short way of writing functions

In [7]:
greet = lambda name : print(f"Good Morning {name}!")

In [8]:
greet("deepika")

Good Morning deepika!

In [9]:
#write a lambda function to print the product of three numbers
product = lambda a,b,c : a*b*c

In [10]:
product(20,30,40)

24000

In [16]:
#lambda functions with list comprehension
even = lambda L : [x for x in L if x%2 ==0]

In [17]:
my_list = [100,3,9,38,43,56,20]
even(my_list)

[100, 38, 56, 20]